<div class="post-line">

    {{ $dateFormat := "Jan 2006" }}
    {{ with .Site.Params.listDateFormat }}
    {{ $dateFormat = . }}
    {{ end }}

    <div style="display: flex;">
        <img class="line-thumbnail" src="/images/projects/{{ .File.BaseFileName }}/thumbnail.png">
        <div>
            <p class="line-title">
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                </a>
            </p>

            {{ if .Site.Params.listSummaries }}
            <p class="line-summary">{{ .Date.Format $dateFormat }}</p>
            {{ end }}
            <p class="line-summary">{{ .Summary }}</p>
        </div>
    </div>
</div>
