:root {
  /* Font and Base Styling */
  font-family: 'EB Garamond', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Font Sizes */
  --font-title: 8vw;  
  --font-subtitle: 2.75vw; 
  --font-description: 2.25vw;  
  --font-menu: 2.25vw;  
  --font-base: 1vw; 

  /* Image Sizes */
  --doodle-size: 27rem;

  /* Padding around the site */
  --body-padding: 4rem;

  /* For screens larger than 1700px */
  @media (min-width: 1700px) {
      --doodle-size: 40rem;
  }

  /* For screens smaller than 1200px */
  @media (max-width: 1200px) {
      --doodle-size: 36vw;
  }

  /* For screens smaller than 768px */
  @media (max-width: 768px) {
      --font-title: 4rem;
      --font-subtitle: 1.25rem;
      --font-description: 1.25rem;
      --font-menu: 1.25rem;

      --body-padding: 2rem;
  }

  /* Color Variables */
  --primary-bg-color: #F5F5F5; /* Off White Background */
  --primary-text-color: #213547; /* Dark Blue-Gray Text */
  --link-color: #213547; /* Link Color */
  --link-hover-color: #D76F6F; /* Link Hover Color */
  --button-bg-color: #1a1a1a; /* Button Background */
  --button-text-color: #fff; /* Button Text Color */
  --heading-color: #213547; /* Heading Text Color */
  --secondary-bg-color: #f9f9f9; /* Light Background for Button (Light Theme) */
  
  /* Default Color Scheme */
  color-scheme: light dark;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

}

/* Apply box-sizing globally to all elements, including pseudo-elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--link-color); /* Link Color */
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color); /* Link Hover Color */
  cursor: pointer;
  text-decoration: underline;
}

body {
  margin: 0;
  padding: var(--body-padding);
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color: var(--primary-text-color); /* Default Body Text Color */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--heading-color); /* Heading Text Color */
  font-weight: 400;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--button-text-color); /* Button Text Color */
}

button:hover {
  border-color: var(--link-color); /* Button Hover Border Color */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}